

<h1>Listing My Followings</h1>

<table>
  <thead>
    <tr>
      <th>Follower</th>
      <th>Following</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @followships.each do |followship| %>
      <tr>
        <td><%= followship.follower.email %></td>
        <td><%= followship.following.email %></td>
        <td><%= link_to 'Unfollow', followship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Followship', new_followship_path %>
