

<h1>Listing lalaki's Tweets</h1>

<table>
  <thead>
  <tr>
    <th>Text</th>
    <th>Date Created</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.text %></td>
        <td><%= tweet.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'My Tweets', tweets_path %>