

<h1>Listing My Blocked Users</h1>

<table>
  <thead>
    <tr>
      <th>Blocker</th>
      <th>Blocked</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blockships.each do |blockship| %>
      <tr>
        <td><%= blockship.blocker.email %></td>
        <td><%= blockship.blocked.email %></td>
        <td><%= link_to 'Unblock', blockship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blockship', new_blockship_path %>
